body{
    background-image: url(pastel_background_01.jpg);
    background-position: 15% 10%;

    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}



.game-buttons{
    position: absolute;
    width: 100%;
    top: 42px;
    /* padding: 10px; */
    margin-top: 3px;
    margin-bottom: 20px;
}

button{
    font-style: oblique;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#container{
    background: #01fcc8;
    position: relative;
    margin-top: 82px; 
}

#game-counter{
    color: blue;
    position: relative;

    margin: 1px;
    color: black;
}

 #instruct-page{
    position: relative;
    top: 25px;
    font-size: 16px;
}

.links-tab{
    /* background-color: transparent; */
    background-color: #FAACA8;
    background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);

    position: fixed;
    top: 0px;
    width: 100%;
    padding: 10px;
}

.tab-links, .credit-links{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 14px;

    text-decoration: none;

    font-weight: bold;
    font-style: oblique;
    color: blue;
}